@model CineTeatroItalianoLobos.Web.Models.Planta.PlantaDetail
@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>
<h3 class="well">Plantas</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Descripcion)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CantidadLocalidades)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CantidadLocalidades)
    </dd>
</dl>

<p>
    <a href="@Url.Action("AddLocalidad","Planta",new { id=Model.PlantaId})" class="btn btn-primary">Agregar Localidad</a>
    <a href="@Url.Action("Edit","Planta",new { id=Model.PlantaId})" class="btn btn-warning">Editar Planta</a>
    <a href="@Url.Action("Index","Planta")" class="btn btn-success">Volver</a>
</p>

<h3 class="well">Localidades</h3>
<table class="table table-bordered table-hover table-striped">
    <thead style="background-color:darkgray">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Localidades[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Localidades[0].Fila)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Localidades[0].Ubicacion)
            </th>
            @*<th>
                Acciones
            </th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Localidades.Any())
        {
            foreach (var item in Model.Localidades)
            {
                <tr>
                    <td>
                        @item.Numero
                    </td>
                    <td>
                        @item.Fila
                    </td>
                    <td>
                        @item.Ubicacion
                    </td>
                    @*<td>
                        <a href="@Url.Action("EditLocalidad","Localidad",new {id=item.LocalidadId})" class="btn btn-warning">Editar</a>
                        <a href="@Url.Action("DeleteLocalidad","Localidad",new {id=item.LocalidadId})" class="btn btn-danger">Borrar</a>
                    </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" style="text-align:center">
                    No se han agregado localidades todavia
                </td>
            </tr>
        }

    </tbody>
</table>

